<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark px-2">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">FAN File</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="editProfile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="editBlog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="video">Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="editSocial">Social</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="fanfile">Fanfile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="register">Register for an Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="login">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="dashboard">Dashboard</a>
                </li>
                <!--<li>
                    <h2>{{element.email}}</h2>
                </li>
                <form class = "inputsWrap" data-toggle="validator" role="form" action="/signout" method="post">
                                   <button type="submit" class="btn btn-primary profile-button" value="Signout" type="button"><input type="submit" value="Signout"/></button>
                </form>
                -->
            </ul>
        </div>
    </div>
</nav>