<!doctype html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<title>FAN Edit Profile</title>
		<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>
		<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
		<link rel="stylesheet" href="edit-profile.component.css">
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
	</head>
  <body oncontextmenu='return false'>
		<div class="container rounded bg-white mt-5 mb-5" *ngFor="let element of data">
      <form class = "inputsWrap" data-toggle="validator" role="form" action="/editffile" method="post">
      	<div class="row">
          <div class="col-md-3 border-right">
          	<div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="https://t4.ftcdn.net/jpg/02/15/84/43/360_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg" width="90"><span class="font-weight-bold">FirstName LastName</span><span class="text-black-50">Joined Day-Month-Year</span><br>
  					<button class="btn btn-primary" type="button">
  						<span>Upload Photo</span>
            </button></div>
          </div>
         	<div class="col-md-5 border-right">
          	<div class="p-3 py-5">
  						<div class="d-flex justify-content-between align-items-center mb-3">
  							<h6 class="text-right">Edit your profile</h6>
              </div>
              <div class="row mt-2">
  							<div class="col-md-6"><label class="labels">Name</label><input name="editfname" type="text" class="form-control" placeholder="First Name" value={{element.firstname}}></div>
  							<div class="col-md-6"><label class="labels">Surname</label><input name="editlname" type="text" class="form-control" value={{element.lastname}} placeholder="Last Name"></div>
              </div>
              <div class="row mt-3">
  							<div class="col-md-12"><label class="labels">Email</label><input name="srcemail" type="text" class="form-control" value={{element.email}} placeholder="user@example.com"></div>
  							<div class="col-md-12"><label class="labels">Team</label><input name="editteam" type="text" class="form-control" value={{element.team}} placeholder="Team Name" ></div>
  							<div class="col-md-12"><label class="labels">Sport</label><input name="editsport" type="text" class="form-control" value={{element.sport}} placeholder="Sport" ></div>
  							<div class="col-md-12"><label class="labels">Position</label><input name="editposition" type="text" class="form-control" value={{element.position}} placeholder="Your Position"></div>
               </div>
               <div class="row mt-3">
  							 <div class="col-md-6"><label class="labels">Country</label><input name="editcountry" type="text" class="form-control" value={{element.country}} placeholder="Country"></div>
  							 <div class="col-md-6"><label class="labels">State/Region</label><input name="editstate" type="text" class="form-control" value={{element.state}} placeholder="State"></div>
  							 <div class="col-md-12"><label class="labels">Street Address</label><input name="editstreet" type="text" class="form-control" value={{element.street}} placeholder="1 streetname st"></div>
               </div>
               <div class="mt-5 text-center"><button class="btn btn-primary profile-button" value="Register" type="button"><input type="submit" value="Save Profile"/></button></div>
              </div>
          </div>
          <div class="col-md-4">
  					<div class="p-3 py-5">
  						<div class="card mb-3">
            		<div class="card-body">
              		<div class="px-xl-3">
                		<button class="btn btn-block btn-secondary">
                  		<i class="fa fa-sign-out"></i>
                  		<span>Logout</span>
                		</button>
              		</div>
            		</div>
          		</div>
          		<div class="card">
            		<div class="card-body">
              		<h6 class="card-title font-weight-bold">Support</h6>
              		<p class="card-text">If you need help, or have any questions, please contact our support team.</p>
              		<button type="button" class="btn btn-primary">Contact Us</button>
            		</div>
          		</div>
            </div>
          </div>
      	</div>
      </form>
		</div>
		<script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>
		<script type='text/javascript'></script>
	</body>
</html>