<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<title>FAN Edit Blog</title>
		<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>
		<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
		<link rel="stylesheet" href="video.component.css">
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    </head>
    <body oncontextmenu='return false'>
        <br><br><br>
        <div class="container-md shadow p-4 px-5 mb-5 bg-white rounded">
            <div class="row px-2 pt-4 pb-4 justify-content-center text-center">
                <div class="col-sm-8">
                    <h1 class="fw-bold text-dark text-opacity-75">FAN - Free Agent NOW!</h1>
                    <p>Paste links to videos of your performances below, and click submit to save them to your FAN File.</p> 
                </div>
            </div>
        </div>
        
        <div class="container rounded bg-white px-5 mt-5 mb-5" *ngFor="let element of data">
            <form class = "inputsWrap" data-toggle="validator" role="form" action="/editffile" method="post">
                <div class="container-md shadow my-5 p-5 mb-5 bg-white rounded">
                    Video link 1: <input name="video1" type="text" value={{element.video1}} placeholder="Paste a link to a video here..."/> <br /><br>
                    Video link 2: <input name="video2" type="text" value={{element.video2}} placeholder="Paste a link to a video here..."/> <br /><br>
                    Video link 3: <input name="video3" type="text" value={{element.video3}} placeholder="Paste a link to a video here..."/> <br /><br>
                    Video link 4: <input name="video4" type="text" value={{element.video4}} placeholder="Paste a link to a video here..."/> <br />
                    <div class="row text-center pt-3 px-5 mx-5">
                        <input type="submit" />
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>