<!doctype html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<title>FAN Link Social Media</title>
		<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>
		<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
		<link rel="stylesheet" href="edit-social.component.css">
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
		
	</head>
  <body oncontextmenu='return false'>
		<div class="container rounded bg-white mt-5 mb-5">
    	<div class="row">
        <div class="col-md-8 col-md-offset-2 border-right" *ngFor="let element of data">
          <form class = "inputsWrap" data-toggle="validator" role="form" action="/editffile" method="post">
  	    		<div class="col-md-8 col-md-offset-2">
              <br>
      				<h6>Link Social Media</h6>
  						<br>
      		    <div><label class="labels">Instagram</label><input name="instagram" type="text" class="form-control" value={{element.instagram}} placeholder="Your instagram link"></div>
  						<br>
  						<div><label class="labels">Twitter</label><input name="twitter" type="text" class="form-control" value={{element.twitter}} placeholder="Your twitter link"></div>
  						<br>
  						<div><label class="labels">Tiktok</label><input name="tiktok" type="text" class="form-control" value={{element.tiktok}} placeholder="Your tiktok link"></div>
  						<br>
  						<div><label class="labels">Snapchat</label><input name="snapchat" type="text" class="form-control" value={{element.snapchat}} placeholder="Your snapchat link"></div>
  						<br>
      		    <div>
      		    	<button type="submit" class="btn btn-primary" (click)="openModal('SubmitModal');">Save</button>
      		    	<button class="btn btn-default"></button>
      		    </div>
  						<br>
  					</div>
          </form>
        </div>
        <div class="col-md-4">
					<div class="p-3 py-5">
						<div class="card mb-3">
          		<div class="card-body">
            		<div class="px-xl-3">
              		<button class="btn btn-block btn-secondary">
                		<i class="fa fa-sign-out"></i>
                		<span>Logout</span>
              		</button>
            		</div>
          		</div>
        		</div>
        		<div class="card">
          		<div class="card-body">
            		<h6 class="card-title font-weight-bold">Support</h6>
            		<p class="card-text">If you need help, or have any questions, please contact our support team.</p>
            		<button type="button" class="btn btn-primary">Contact Us</button>
          		</div>
        		</div>
          </div>
        </div>
    	</div>
		</div>
		<jw-modal id="SubmitModal">
			<button (click)="closeModal('SubmitModal');" style="font-size: 200%; border: 0ch; float: right; background-color: transparent;">X</button>
			<br><br>
			<h2 style="text-align: center;">Socials have been Updated</h2>
			<br><br>
		</jw-modal>
		<script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>
		<script type='text/javascript'></script>
	</body>
</html>