<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<title>Register</title>
	<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>
	<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="register.component.css">
	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</head>
<body oncontextmenu='return false'>

	<div class="container rounded bg-white mt-5 mb-5">
		<form [formGroup]="registration" (ngSubmit)="onSubmit()" class = "inputsWrap" data-toggle="validator" role="form" method="post">
			<div class="row">
				<div class="col-md-8 border-right">
					<div class="p-3 py-5">
						<div class="d-flex justify-content-between align-items-center mb-3">
							<h6 class="text-right">Register</h6>
						</div>
						<div class="row mt-2">
							<div class="col-md-6"><label class="labels">Name</label><input type="text" name="firstname" class="form-control" placeholder="First Name" formControlName="firstName" value=""></div>
							<div class="col-md-6"><label class="labels">Surname</label><input type="text" name="lastname" class="form-control" value="" placeholder="Last Name" formControlName="lastName"></div>
						</div>
						<div class="row mt-3">
							<div class="col-md-12"><label class="labels">Email</label><input type="text" name="email" class="form-control" placeholder="user@example.com" formControlName="email"></div>
							<div class="col-md-12"><label class="labels">Sport</label><input type="text" name="sport" class="form-control" value="" placeholder="Your Sport" formControlName="sport"></div>
							<div class="col-md-12"><label class="labels">Password</label><input type="password" name="password" class="form-control" value="" placeholder="" formControlName="password"></div>
							<div class="col-md-12"><label class="labels">Confirm Password</label><input type="password" class="form-control" value="" placeholder="" formControlName="confirmPassword" ></div>
						</div>
						<div class="mt-5 text-center">
							<input type="submit" value="Register"/>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="p-3 py-5">
						<div class="card mb-3">
							<div class="card-body">
								<div class="px-xl-3">
									<button class="btn btn-block btn-secondary">
										<i class="fa fa-sign-out"></i>
										<span>Logout</span>
									</button>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-body">
								<h6 class="card-title font-weight-bold">Support</h6>
								<p class="card-text">If you need help, or have any questions, please contact our support team.</p>
								<button type="button" class="btn btn-primary">Contact Us</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>
	<script type='text/javascript'></script>
</body>
</html>