body {
    background-color: #f5f5f5;
}

header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    color: black;
    margin-bottom: 15px;
    padding: 0 100px 0 100px;
    border-bottom: 1px black solid;
}

footer {
    background-color: #000;
    height: 100px;
    display: flex;
    flex-direction: row;
    padding: 0 100px 0 100px;
    font-family: Montserrat;
    align-items: center;
}

img {
    border-radius: 50%;
    position: absolute;
    height: 200px;
    width: 200px;
    right: 400px;
  }

.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: baseline;
    max-width: 1385px;
  }

.profile {
    /* width: 446px; */
    margin: 25px 0 25px 98px;
    padding: 16.4px 45px 23px 171px;
    /* box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); */
    position: relative;
  }

.profile-pic {
    position: absolute;
    left: 90px;
    top: 15px;
}

.profile-info {
    padding: 15px 15px 15px 125px;
    max-height: 500px;
    background-color: #fdbc11;
}
  .username {
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      margin: 0 1px 6.6px 0;
      font-family: Montserrat;
  }

  .user-email {
      font-size: 15px;
      font-weight: 500;
      text-align: center;
      margin: 6.6px 6px 14px 4px;
      font-family: Montserrat;
  }

  .view-fanfile-btn {
    /* width: 230px; */
    /* height: 35px; */
    margin: 14px 0;
    padding: 10px 44px 9px;
    background-color: #fff;
  }

  .view-fanfile-text {
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      font-family: Montserrat;
  }

  .edit-profile-btn {
    /* width: 230px; */
    /* height: 35px; */
    margin: 14px 0 0;
    /* padding: 10px 68px 9px; */
    border: solid 1px #707070;
    background-color: #000;
  }

  .edit-profile-text {
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      color: #fff;
      font-family: Montserrat;
  }

.network-tab {
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 0 0 0 33px;
    padding: 30px 30px 36px 31px;
    box-shadow: 0 3px 6px 0
    rgba(0, 0, 0, 0.16);
    background-color: #fff;
    font-weight: bold;
    font-family: Montserrat;
}

.tab {
    text-align: center;
    max-width: 200px;
    height: 100px;
    margin: 0 33px 0 34px;
    padding: 20px 50px 36px 49px;
    box-shadow: 0 3px 6px 0
    rgba(0, 0, 0, 0.16);
    background-color: #fff;
    font-weight: bold;
    font-family: Montserrat;
}

.blog-tab {
        text-align: center;
        width: 200px;
        height: 200px;
        margin: 0 34px 0 33px;
        padding-top: 36px;
        padding-right: 44px;
        box-shadow: 0 3px 6px 0
        rgba(0, 0, 0, 0.16);
        background-color: #fff;
        font-weight: bold;
        font-family: Montserrat;
}

.resume-tab {
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 0 33px 0 0;
    padding-top: 36px;
    padding-right: 44px;
    box-shadow: 0 3px 6px 0
    rgba(0, 0, 0, 0.16);
    background-color: #fff;
    font-weight: bold;
    font-family: Montserrat;
}

.stats {
    width: 349px;
    height: 400px;
    margin: 63px 28px 36px 31px;
    padding: 20px 34.5px 48px 30.5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
}

.stats-title {
    margin: 0 219.5px 12px 0.5px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #000;
    font-family: Montserrat;
}

.line-break {
    width: 284px;
    height: 1px;
    margin: 12px 0 16.8px;
    background-color: #707070;
}

.stats-text {
    margin: 24px 57.5px 24.8px 13.5px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #000;
    font-family: Montserrat;
}

.messages {
    width: 667px;
    height: 438px;
    margin: 24px 222px 37px 28px;
}

.message-alert {
    margin: 0 307px 9px 0;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    text-align: left;
    color: #fdbc11;
    font-family: Montserrat;
}

.message-box {
    width: 667px;
    height: 126px;
    margin: 9px 0 11px;
    padding: 6px 17px 8px 6px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
}

.message-name {
    margin: 14px 259px 0 21px;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #000;
    font-family: Montserrat;
}

.timestamp {
    margin: 10px 272px 7px 21px;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    color: #000;
    font-family: Montserrat;
}

.message-text {
    margin: 7px 15px 10px 21px;
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    text-align: left;
    color: rgba(0, 0, 0, 0.43);
    font-family: Montserrat;
}

.read-reply {
    margin: 10px 0 8px 15px;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    color: #000;
    font-family: Montserrat;
}

.catchphrase {
    font-size: 30px;
    font-weight: bold;
    color: #fdbc11;
}

.bottom-logo-text {
    font-style: italic;
    color: #fff;
    font-family: Monteserrat;
    font-size: 16px;
    margin: 7px 489px 11px 0;
}

.logo-text {
    font-weight: bold;
}

.sign-out-btn {
    font-weight: bold;
}